try-import %workspace%/user.bazelrc

build --enable_platform_specific_config
build --enable_runfiles
build --java_language_version=11
build --spawn_strategy=local # This disables sandboxing, which is a stopgap instead of using SandboxFS (we'd like to do this eventually, WPILib toolchain doesn't like the symlink tree)
build --incompatible_enable_cc_toolchain_resolution # Enables the new toolchain identification feature which uses platforms to find the right cc toolchain

build --define "publishing_version=dev"
build --define "publishing_javadoc=true"
build --define "maven_repo=file://$HOME/.m2/repository" # Make default publishing location the home folder

build -c opt # Build optimized by default

build:athena --platforms=//build_tools/platforms:athena # Creates a "--config athena" CLI shortcut instead of having to type the whole platform string
build:athena --cxxopt=-std=c++17 --cxxopt=-pedantic-errors
build:athena --platform_suffix=_athena
build:linux --cxxopt=-std=c++17 --cxxopt=-pedantic-errors
build:macos --cxxopt=-std=c++17 --cxxopt=-pedantic-errors
build:windows --cxxopt=/std:c++17

test --test_output=all # Show stdout for any tests that do not pass
