[submodule "akit/magic_enum"]
	path = akit/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "akit/httplib"]
	path = akit/httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "akit/readwriterqueue"]
	path = akit/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue
